
.box{
    height: 700px;
    width: 800px;
    margin: auto;
    border: 1px solid red;
    position: relative;
}

.box div{
    color: black;
    text-align: center;
    width: 150px;
    height: 150px;
    font-size: 25px;
    border-radius: 10px;
    margin: 1%;
}

.box div:first-child{
    position: absolute;
    top: 75px;
}


.boxs{
    height: 700px;
    width: 800px;
    margin: auto;
    border: 1px solid red;
    position: relative;
    margin-top: 50px;
  
}

.boxs div{
    color: black;
    text-align: center;
    width: 150px;
    height: 150px;
    font-size: 25px;
    border-radius: 10px;
    margin: 1%;
}

.boxs div:first-child{
    position: relative;
    margin-left: -50px;
}


.boxk{
    position: relative;
}

.boxk div:nth-child(1){
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-top: 150px;
}


.boxk div:nth-child(2){
    width: 250px;
    height: 250px;
    margin-left: 200px;
    margin-top: -80px;
}


.boxk div:nth-child(3){
    width: 860px;
    height: 150px;
    margin-top: -50px;
    margin-left: 50px;

}

.boxk div:nth-child(4){
    width: 150px;
    height: 360px;
    margin-left: 850px;
    margin-top: -450px;


}

.pos{
    width: 900px;
    height: 400px;
    border: 5px solid rgb(75, 74, 74);
    font-size: 30px;
    margin-top: 200px;
 
}

.pp{
    width: 200px;
    height: 200px;
    background-color: rgb(121, 7, 228);
    border-radius: 10px;
    color: white;
    margin-left: 36.5%;
    margin-top: -195.8px;
    position: absolute;
    padding-left: 50px;
    box-sizing: border-box;
}

.lis:nth-child(odd) {
    background-color: #0dc20d;  
    font-size: 35px;
    margin-right: -8px;  
    color: white; 
}

.lis:nth-child(even) {
    background-color: blue;
    font-size: 35px;  
    margin-right: -8px;
    color: white;  
}


.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 900px;
    margin: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 500px;
}

input[type="email"]:focus{
    background-color: bisque;
}
input[type="text"]:focus{
    background-color: bisque;
}

textarea{
    width: 700px;
    height: 60px;
}


input[type="submit"]  {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 100px;
}


section{
    width: 100%;
}

#section-7 #header{
    position: relative;
    background-color: rgb(28, 208, 28);
    color: white;
    text-align: center;
}

#section-7 #footer{
    background-color: rgb(28, 208, 28);
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
}
 

#section-7{
    position: relative;
}

.anaqutu{
    display: flex;
    justify-content: space-between;
}

.anaqutu .aside{
    background-color: green;
    width: 25%;
    height: 500px;
    color: white;
    text-align: center;
}

.anaqutu .article{
    background-color: orange;
    width: 74%;
    height: 100px;
    height: 500px;
    color: white;
    text-align: center;
}

.parrend{
    display: flex;
    justify-content: space-around;
}

.parrend div{
    background-color: #0dc20d;
    width: 250px;
    height: 250px;
}

.header{
    background-color: rgb(28, 208, 28);
    color: white;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 600px;
}

.sections{
    display: inline-block;
    background-color:  rgb(28, 208, 28);
    margin-top: 10px;
    margin-left: 10%;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    text-align: center;
    color: white;
}

.headers{
    background-color: rgb(28, 208, 28);
    color: white;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}


.container {
    display: flex;
    margin-left: 100px;
}

.green, .red, .blue, .org , .pem{
    width: 300px;
    height: 250px;
    margin-right: 10px; 
    
}

.green{
    background-color: #0dc20d;
}
.red {
    background-color: rgb(228, 34, 27);
}

.blue {
    background-color: rgb(18, 131, 146);
}

.org{
    background-color: orange;
}

.pem{
    background-color: rgb(128, 63, 189);
}


.containers {
    display: flex;
}

.containers{
    background-color: rgb(224, 203, 203);
}

.fixed{
    position: fixed;
    background-color: #4CAF50;
    width: 500px;
    height: 100px;
    margin-left: 20px;
    margin-top: -5px;
}

.sticky {
    position: sticky;
    top: 20px;
    background-color: #af4c4c;
    width: 500px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
}